@charset "utf-8";

/* common */
.hide{visibility:hidden; width:0; height:0; overflow:hidden; font-size:0; line-height:0; position:absolute; }
.clear{clear:both;}

.tc{text-align:center !important;}
.tl{text-align:left !important;}
.tr{text-align:right !important;}
.b0{border:none !important;}
.pT0{padding-top:0 !important;}
.pB0{padding-bottom:0 !important;}
.mB0{margin-bottom:0 !important;}
.mL5{margin-left:5px !important;}
.mL7{margin-left:7px !important;}
.mL10{margin-left:10px !important;}
.mR0{margin-right:0 !important;}
.mR5{margin-right:5px !important;}
.mR10{margin-right:10px !important;}
.mR20{margin-right:20px !important;}
.mR40{margin-right:40px !important;}
.mB5{margin-bottom:5px !important;}
.floatL{float:left;}
.floatR{float:right;}
.clear{clear:both;}